{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <div class="row pt-4">
        {% for product in products %}
            <div class="col-md-3">
                <div class="card mb-5 shadow">
                    <img src="{{ product.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">
                            {{ product.category }}<br>
                            {{ product.size }}<br>
                            {{ product.prix }}
                        </p>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
